body{
	font-family: 'PT Sans', sans-serif;
}
.side_container{
	position: fixed;
	/* border: 1px solid red;
	*/
	height: 100vh;
	max-width: 20%;
	padding: 20px;
}
h1{
	font-family:sans-serif;
	font-weight: bold;
	font-size: 35px;
	margin-top: 30px;
	margin-left: 30px;
}
.nav_box{
	line-height: 1.5;
}
.side_nav{
	display: flex;
	flex-direction:column;
	margin-top: 30px;
	margin-left: 30px;
}
a{
	color: black;
	text-decoration: none ;
}
a:hover{
	color: red;
}
/* main gallery content starts here */
.main_container{
	float: right;
	height: 100vh;
	margin-left: 250px;
	margin-right: 20px;
	padding: 20px;
	/* border: 1px solid red;
	*/
}
.content_box{
	float: left;
	/* border: 1px solid blue;
	*/
	margin: 20px;
	width: 100%;
}
.image{
	overflow: hidden;
	position: relative;
	float: left;
	width: 70%;
}
img{
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.caption{
	float: bottom;
	margin: 5px;
	margin-bottom: 10px;
	line-height: 1.1;
	font-size: 12px;
}
/* under construction - hamburger nav, stack images */
@media (max-width: 740px) {
}
